<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="icon" href="~/favicon2.ico" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Pi4_MVC_Frituur_V3</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Pi4_MVC_Frituur_V3.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        @*        <nav  class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-black border-bottom box-shadow mb-3">

        <div class="container-fluid">
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Pi4_MVC_Frituur_v1</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
        <ul class="navbar-nav flex-grow-1">
        <li class="nav-item">
        <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
        </li>
        <li class="nav-item">
        <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </li>
        </ul>
        <partial name="_LoginPartial" />
        </div>
        </div>
        </nav>*@

        <nav class="navbar navbar-expand-lg bg-black" data-bs-theme="dark">

            <div class="container-fluid">


                <img src="https://cdn.discordapp.com/attachments/1015233182209159201/1156917715668324432/image.png?ex=6516b715&is=65156595&hm=9a48d6770f65deb1eacdf8548bed380add5b12e66d859616434edc4166ec5d9e&" height="75" width="125" />

                @*                <a class="navbar-brand" href="#">Navbar</a>*@
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarColor02">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link active" href="#">
                                <span class="visually-hidden">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Home </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Menu" asp-action="Index">Menu </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Bestel" asp-action="Index">Bestellen </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link text-light dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Owner options</a>
                            <div class="dropdown-menu bg-black">
                                <a class="dropdown-item nav-link text-light" asp-area="" asp-controller="Items" asp-action="Index">Verrander menu </a>
                                <a class="dropdown-item text-light" <A HREF="../swagger/index.html">API</a>
                            </div>
                        </li>
                    </ul>
                    <form class="d-flex">
                        <input class="form-control me-sm-2" id="zoekbalk" type="search" placeholder="Search">
                        <button class="btn btn-secondary my-2 my-sm-0 bg-danger" type="button" onclick="zoek()">Search</button>
                    </form>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
<script>
    function zoek() {
        // Haal de zoekopdracht op uit de zoekbalk
            function zoek() {
                // Haal de zoekopdracht op uit de zoekbalk
                var zoekopdracht = document.getElementById("zoekbalk").value.toLowerCase();

                // Voer hier je logica in om te bepalen welke pagina je wilt openen op basis van de zoekopdracht
                // Bijvoorbeeld, als de zoekopdracht "privacy" is, stuur de gebruiker naar de privacy pagina
                if (zoekopdracht === "home") {
                    window.location.href = ".."; // Vervang "Home" door de werkelijke URL van je homepagina
                }
                else if (zoekopdracht === "menu") {
                    window.location.href = "Menu"; // Vervang "Menu" door de werkelijke URL van je menu pagina
                }
                else if (zoekopdracht === "winkelwagen") {
                    window.location.href = "Bestel"; // Vervang "Bestel" door de werkelijke URL van je bestelpagina
                }
                else if (zoekopdracht === "bestellen") {
                    window.location.href = "Bestel"; // Vervang "Bestel" door de werkelijke URL van je bestelpagina
                }
                else if (zoekopdracht === "bestel") {
                    window.location.href = "Bestel"; // Vervang "Bestel" door de werkelijke URL van je bestelpagina
                }
                else if (zoekopdracht === "menu aanpassen") {
                    window.location.href = "Items"; // Vervang "Items" door de werkelijke URL van je pagina voor menuaanpassingen
                }
                else if (zoekopdracht === "items") {
                    window.location.href = "Items"; // Vervang "Items" door de werkelijke URL van je pagina voor menu-items
                }
                else if (zoekopdracht === "api") {
                    window.location.href = "swagger"; // Vervang "swagger" door de werkelijke URL van je Swagger-documentatiepagina
                }
                else if (zoekopdracht === "api inzien") {
                    window.location.href = "swagger"; // Vervang "swagger" door de werkelijke URL van je Swagger-documentatiepagina
                }
                else if (zoekopdracht === "swagger") {
                    window.location.href = "swagger"; // Vervang "swagger" door de werkelijke URL van je Swagger-documentatiepagina
                }
                else {
                    // Als de zoekopdracht niet overeenkomt met een specifieke pagina, kun je de gebruiker naar een standaardpagina sturen
                    window.location.href = "#"; // Vervang "#" door de werkelijke URL van je standaardpagina
                }
    }
</script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
