@model IEnumerable<Pi4_MVC_Frituur_V3.Models.Item>

@{
    ViewData["Title"] = "Index";
}
<style>
    .cardcontainer {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }

    .float {
        float: right;
    }


    body {
        font-family: "Century Gothic", sans-serif;
    }

    .card {
        background-color: black;
        color: white;
    }

    .card2 {
    }

    .plus-button {
        color: green;
    }

    .minus-button {
        color: black;
    }
</style>

<html>

<body style="background-color: black; color: white">

<h1>Menu</h1>

@foreach (var item in Model)
{
    <div class="card bg-dark mb-3" style="max-width: 40rem;">
        <b>
            <h2 class="card-header">
                @Html.DisplayFor(modelItem => item.Name)
                <div class=" float">
                        <h5 class="card-title">
                            € @Html.DisplayFor(modelItem => item.Price)
                        </h5>
                    
                </div>
            </h2>
        </b>

        <div class="card-body">
            <h4><p class="card-text">@Html.DisplayFor(modelItem => item.Description)</p></h4>
        </div>
    </div>

}



</body>
</html>